@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
  /* Font Families*/
  --ffMain:'Rubik', sans-serif;

  /*Colors*/
  --clrBgDark:#374140;
  --clrBgModal:rgba(60, 83, 81,0.9);
  --clrBgModalOpaque:rgb(22, 34, 33);
  --clrBgYellow:#febd7f;
  --clrBgDarkOrange:#ec7263;
  --clrBgDarkerOrange:#ec7263;
  --clrEvent:#febe7e;
  --clrToday:#bfdb38;
  --clrDays:#a89d8b;
  --clrTextCalendr:#c7c5c7;
  --clrTextDetails:#e5ce8f; 
  --clrHeading:#23343a;
  --clrIconEdtDel:#644d52;
  --clrDividingLine:#ea6461;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--ffMain);
  line-height: 1.2;
  background-repeat: no;
}

h1{
  text-transform: uppercase;
  font-weight: 500;
}

button,
input,
form,
textarea {
  font-family: inherit;
  font-size: inherit;
}


.btn{
  border:none;
  padding:1rem 2rem;
  color:#fff;
  border-radius: 3px;
  background: var(--clrBgDark);
  cursor: pointer;
}

.btn-lg{
  padding:1rem 3rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  font-weight:500;
}

.btn-md{
  background-color: var(--clrBgDark);
  padding:0.5rem 1rem;
  font-size: 16px;
  transition: background-color .15s ease;
}

.btn-md:hover{
  background-color: #4c5f5d;
}

.btn-no{
  background-color: #412329;
}
.btn.btn-no:hover{
  background-color: #633740;
}

.btn-sm{
  background: none;
  border: none;
  cursor: pointer;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2,auto);
}

/*Left Side*/
.calendar {
  display: none;
  margin-bottom: 3rem;
  align-self: center;
  justify-self: right;
  background: var(--clrBgDark);
  color:var(--clrTextCalendr);
  height: 620px;
  width: 540px;
}

.current-month{
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:16px;
  margin:6rem 5rem 0;
}

.current-month  p:nth-child(2){
 font-size: 25px;
 font-weight: 500;
 text-transform: uppercase;
}

.weeks {
  margin:2rem 3rem;
  display: grid;
  gap:1.5rem;
  grid-template-columns: repeat(7,1fr);
  justify-items:center;
}

.weeks p:nth-child(n):nth-child(-n+7) {
  color:var(--clrDays);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.weeks p {
  font-size:20px;
  font-weight: 500;
  z-index: 10;
  user-select: none;
}

.event, .today {
 box-shadow:0px 0px 0 14px var(--clrEvent);
 border-radius: 50%;
 position: relative;
 color:var(--clrBgDark);
 height:1.5rem;
 width: 1.5rem;
 text-align: center;
}

.id-container {
  display: none;
}
.event::before, .today::before{
  content:'';
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #272e2d;
  height: 47px;
  width: 47px;
  border-radius: 50%;
  z-index: -1;
}

.event::after, .today::after {
  content:'';
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height:40px;
  width: 40px;
  border-radius: 50%;
  background: var(--clrEvent);
  z-index: -1;
}

.today {
  box-shadow:0px 0px 0 14px var(--clrToday);
}

.today::after{
  background: var(--clrToday);
}

/*Footer*/
.months {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  width: 90%;
  margin:0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between; 
}

.display-months {
display: flex;
align-items: center;
justify-content: center;
gap:1rem;
}

footer i {
  font-size: 40px;
  font-weight: 100;
}

/*Right Side*/
.events{
  margin-bottom: 4rem;
  align-self: center;
  justify-self:left;
  height:720px;
  width: 500px;
  background:var(--clrBgDarkOrange);

}

 .title {
  text-align: center;
  background: var(--clrBgYellow);
  color:var(--clrHeading);
  font-weight: 500;
  padding:3rem 3.5rem;
}

.details-flex-container { 
  padding:1.5rem 1.5rem;
  display:flex;
  flex-direction: column;
  max-height: 60%;
  row-gap:3rem;
  color:#fef9c3;
  overflow-y: auto;
}


.details-item{
  display:grid;
  grid-template-columns: 1fr 6fr 2fr;
  position: relative;
}

.details-item::after {
  content:'';
  position: absolute;
  top:1em;
  border-bottom: 2px solid var(--clrDividingLine);
  height: 100%;
  width: 100%;

}


.item-details p {
  color:#644d52;
  font-weight: 500;
}

.edit-delete {
  display: flex;
  justify-content: space-between;
  justify-self: end;
  margin-right: 1rem;
  width: 40px;
}


.edit-delete i {
  color:#644d52;
}

#add-event-btn{
  margin:2rem auto 2rem;
}

/*Modal*/
.modal-container {
  position:fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top:0;
  left:0;
  z-index: 10;
  height:100%;
  width: 100%;
  background-color: var(--clrBgModal);
  transition: all 0.3s ease-in-out;
}

.modal-content{
  height: 500px;
  width: 500px;
  background-color:var(--clrBgModalOpaque);
  color:#fff; 
  border-radius: 3px;
  position: relative;
}

.modal-content-delete{
  height:150px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clrBgDarkerOrange);
  border-radius: 5px;
  color:var(--clrHeading);
  font-weight: 500;
  font-size: 20px;
}



.btn-modal-close{
  position: absolute;
  right:0;
  border:none;
  height:25px;
  width: 25px;
  padding:2px 4px;
  background-color: #b2bebd;
  transition: all 0.15s ease;
}

.btn-container{
  display: flex;
  gap:1rem;
  margin-top: 1rem;
}

.btn-modal-close:hover{
  background: #000;
  color:#fff;
}

.form-grid{
  margin:0 auto;
  padding:1.5rem;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  'date-label date-input date-input'
  'time-label time-input time-input'
  'textarea-label textarea-input textarea-input'
  '. modal-submit-btn modal-submit-btn';
  gap:1rem;
}

.date-label{
  grid-area: date-label;
}

.date-input{
  grid-area: date-input;
}

.time-label{
  grid-area: time-label;
}

.time-input{
  grid-area: time-input;
}

.textarea-label{
  grid-area: textarea-label;
}

.textarea-input{
  grid-area: textarea-input;
}
.modal-submit-btn{
  grid-area: modal-submit-btn;
}

input {
  padding:0.5rem;
}

textarea{
  resize: none;
  padding: 0.5rem;
}

.modal-content h1 {
  text-align: center;
  margin-top: 2rem;
}

.modal-submit-btn{
margin-top: 1rem;
 padding:2rem;
 background-color: #304745;
 transition:all 0.1s ease;
}

.modal-submit-btn:hover{
  background-color: var(--clrBgDark);
}